@media (max-width: 768px) {
    /* general */
    .flex-container,
    .grid-container{
    justify-content: center;
    }
    .logo{
        margin-bottom: 24px;
    }
    /* end */
    /* hero start */
    .hero-content{
      grid-column: 1 / 13;
      padding-bottom: 40px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .hero-img{
      grid-column: 1 / 13;
      grid-row: 1;
    }
    /* end */
    /* portfolio start */
    .item{
      width: 100%;
      padding: 0px;
    }
    /* end */
    /* feedback start */
    .comment{
    padding: 24px;
    }
    /* end */
    /* footer start */
    ul.footer-links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
    }
    /* end */
  }