@media (max-width: 768px) {
  section{
    padding: 40px 12%;
  }
  .heroPhoto{
    grid-column: 1/13;
    grid-row: 1;
  }
  .heroContent{
    grid-column: 1/13;
    align-items: center;
    text-align: center;

  }
  .item{
    width: 100%;
  }
  .comment{
  padding: 24px;
  }
  }
  .footer, .footerLinks{
    justify-content: center;
  }
  .about p{
    text-align: center;
  }
  .skillSet{
    justify-content: center;
  }