@media (max-width: 768px) {
  .container,
  .header .container,
  .footer .container{
    padding: 24px 24px;
  }
  .header .container{
    height:max-content;
    min-height: 64px;
    padding: 12px 24px;
  }
  .nav{
    margin: 16px auto;
  }

  section.statics .container{
    flex-direction: column;
  }

  .footer{
    padding: 32px 24px;
  }
  #navLinks{
    display: none;
    width: 100%;
    justify-content: center;
  }
  .burger{
    display: block;
  }
  /* statics------------ */
  .itemTitle{
    font-size: 32px;
    line-height: 32px;
  }
  /* end */
/* work-------------- */
  .item,
  .item.itemLeft{
    flex-direction: column;
  }
  .itemCover{
    width: 100%;
  }
  /* end */
  .comment{
  padding: 24px;
  }
  .footer .container, 
  .footerLinks{
    justify-content: center;
  }
  .about p{
    text-align: center;
  }
  .skillSet{
    justify-content: center;
  }
  .aboutImg{
    margin: 32px 0;
  }
}