@font-face {
  font-family: 'test-tiempos-fine-bold';
  src: url('../fonts/test-tiempos-fine-bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('woff2');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('woff2');
}
:root{
  --black: #060105;
  --darkGray: #606060;
  --lightGray: #E3E3E3;
  --main: #8D0130;
  --white: #F2F2F2;
  --pureWhite: #fff;
  --PureBlack: #000;
}
/* General Elements---------------------------------------------- */
*{
  box-sizing: border-box;
}
body{
  font-family: Roboto-Regular;
  font-size: 16px;
  line-height: 24px;
  background-color:#F2F2F2;
}
section{
  padding: 80px 12%;
}
h1{
  font-family: test-tiempos-fine-bold;
  font-size: 48px;
  line-height: 56px;
  color: var(--black);
}
h2{
  font-family: test-tiempos-fine-bold;
  font-size: 32px;
  line-height: 32px;
}
a{
  text-decoration: none;
  color: #606060;
  text-transform:uppercase;
  letter-spacing: 1px;
}
img{
  width: 100%;
  height: auto;
}
/* Layout---------------------------------------------- */
.grd{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}
.col-1{
  grid-column: 1/13;
}
.col-1-2{
  grid-column: 1/7;
}
.col-2-2{
  grid-column: 7/13;
}
.flx{
  display: flex;
}
.flxSpace{
  justify-content: space-between;
}
.flxCenter{
  align-items: center;
}
.flxCenter2{
  justify-content: center;
}
.flxVertical{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.gap-s{
  gap: 8px;
}
.gap-m{
  gap: 16px;
}
.gap-lg{
  gap: 24px;
}
.gap-2{
  row-gap: 1.5vw;
}
.fixCard{
  margin-bottom: -7px;
}

/* Components---------------------------------------------- */
/* padge start */
.padge{
  font-size: 10px;
  line-height: 10px;
  width: max-content;
  height: 18px;
  background-color: var(--main);
  color: var(--white);
  padding: 4px 6px;
  /* border-radius: 9px; */
}
/* padge end */
/* section header start */
.secTitle{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom:32px
}
.sepLine{
  display: flex;
  height: 1px;
  width: 100%;
  transform: translateY(16px);
  background-color: #606060;
}
h2.title{
  background-color:#F2F2F2;
  z-index: 2;
  padding: 0 16px;
  font-size: 20px;
}
/* section header end */
/* CTA Start */
a.link{
  padding: 8px 16px;
}
a.link:hover{
  color: #8D0130;
  /* border: 1px solid #8D0130; */
}
.btn{
  display: block;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.primary{
  background-color: #8D0130;
  color: #E7E3D7;
}
.btn.primary:hover{
  background-color: #a10338;
}
.secondary{
  border: 1px solid #8D0130;
  color: #8D0130;
}
.btn.secondary:hover{
  background-color: #8D0130;
  color: #E7E3D7;
}
.active{
  color: #8D0130;
  font-family: Roboto-Medium;
}
/* CTA End */
.card-1-2{
  width: 49%;
}
.card-1{
  width: 100%;
}
.ico-32{
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* heder and footer */
.header{
  height: 80px;
  padding: 0 12%;
  border-bottom: 1px solid #606060;
}
.footer{
  border-top: 1px solid #606060;
  padding: 32px 12%;
}
.copyrights{
  padding: 8px;
  background-color: var(--lightGray);
  font-size: 12px;
}