*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
body{
  background-color:#F2F2F2;
}
ul{
  list-style: none;
  display: inline-block;
  gap: 20px;
}
li{
  display: inline-block;
  padding: 8px;
}
a{
  text-decoration: none;
  color: #606060;
  text-transform:uppercase
}
.link:hover{
  color: #8D0130;
  border-bottom: 1px solid #8D0130;
}
h1{
  font-size: 48px;
}
.flex-container,
.grid-container{
  width: 85%;
  margin: auto;
  max-width: 1200px;
}
.btn{
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #8D0130;
  color: #8D0130;
  margin: 8px 0;
}
.btn:hover{
  background-color: #8D0130;
  color: #E7E3D7;
}
/* header start */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  flex-wrap: wrap;
}
.header{
  border-bottom: 1px solid #606060;
}
/* end */
/* hero start */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows:auto; */
  column-gap: 20px;
  /* row-gap: 150px; */
}
.hero{
  background-color: #E1E2E4;
}
.hero-content{
  grid-column: 1 / 7;
  justify-self: center;
  align-self: center;
}
.dot{
  color: #8D0130;;
}
.hero-img{
  grid-column: 7 / 13;
  justify-self: center;
  align-self: center;
}
.hero-img img{
  width: 100%;
  height: auto;
}
/* end */
/* portfolio start */
.filter{
  grid-column: 1 / 13;
  justify-self: start;
  align-self: center;
}
.item-container{
  grid-column: 1 / 13;
  justify-self: start;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
.item{
  /* grid-column: 1 / 7;
  justify-self: center;
  align-self: center; */
  width: 50%;
  padding: 10px;
}
.item:hover{
	transform: rotateY(189deg);
	transition: .3s;
}
.item img{
  width: 100%;
  height: auto;
}
/* end */
/* feedback start */
.card{
  grid-column: 2 / 12;
  justify-self: start;
  align-self: center;
}
.comment{
  background-color: #E3E3E3;
  border-bottom: 1px solid #606060;
  padding: 48px 56px;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
/* end */
/* footer start */
.footer{
  border-top: 1px solid #606060;
}
.copyrights{
  width: 100%;
  text-align: center;
  padding: 8px;
}